[project]
title = "Safir"
copyright = "2020-2024 Association of Universities for Research in Astronomy, Inc. (AURA)"

[project.python]
package = "safir"

[sphinx]
rst_epilog_file = "_rst_epilog.rst"
nitpicky = true
nitpick_ignore_regex = [
    ['py:.*', 'dataclasses_avroschema.*'],
    ['py:.*', 'faststream.*'],
    ['py:.*', 'fastapi.*'],
    ['py:.*', 'kubernetes_asyncio.*'],
    ['py:.*', 'httpx.*'],
    ['py:.*', 'pydantic.*'],
    ['py:.*', 'redis.*'],
    ['py:.*', 'respx.*'],
    ['py:.*', 'starlette.*'],
    # Sphinx bug handling the type keyword
    ['py:.*', '.*\.TypeAliasType'],
    # autodoc_pydantic does not handle validators or Annotated correctly.
    ['py:obj', '.*\.all fields'],
    ['py:obj', 'lambda.*'],
    ['py:obj', 'ExecutionPhase.*']
]
nitpick_ignore = [
    # These don't appear to have documentation but show up in the inheritance
    # tree.
    ["py:class", "unittest.mock.Base"],
    ["py:class", "unittest.mock.CallableMixin"],
    # autodoc_pydantic generates some spurious links that can't be resolved.
    ["py:class", "unittest.mock.Base"],
    ["py:class", "unittest.mock.CallableMixin"],
    ["py:obj", "ComputedFieldInfo"],
    ["py:class", "lambda"],
    ["py:obj", "typing.P"],
    # arq doesn't provide documentation for all of its types.
    ["py:class", "arq.cron.CronJob"],
    ["py:class", "arq.typing.StartupShutdown"],
    ["py:class", "arq.typing.WorkerCoroutine"],
    ["py:class", "arq.worker.Function"],
    # Sphinx apparently cannot handle type aliases.
    ["py:obj", "safir.pydantic.EnvAsyncPostgresDsn"],
    ["py:obj", "safir.pydantic.EnvRedisDsn"],
    ["py:obj", "safir.pydantic.HumanTimedelta"],
    ["py:obj", "safir.pydantic.IvoaIsoDatetime"],
    ["py:obj", "safir.pydantic.SecondsTimedelta"],
    ["py:obj", "safir.pydantic.UtcDatetime"],
    # SQLAlchemy DeclarativeBase documentation has references that Sphinx
    # can't resolve properly.
    ["py:class", "sqlalchemy.inspection.Inspectable"],
    ["py:class", "_orm.Mapper"],
    ["py:class", "_orm.registry"],
    ["py:class", "_schema.MetaData"],
    ["py:class", "_schema.Table"],
    # See https://github.com/sphinx-doc/sphinx/issues/13178 which, although
    # closed, appears to still not be fixed
    ["py:class", "pathlib._local.Path"],
    # The AOIKafkaAdminClient is considered experimental and not officially
    # exported
    ['py:class', 'aiokafka.admin.client.AIOKafkaAdminClient'],
    # The Testcontainers Python project is short on API documentation
    ['py:class', 'testcontainers.core.network.Network'],
]
extensions = [
    "sphinxcontrib.autodoc_pydantic",
]

[sphinx.intersphinx.projects]
aiokafka = "https://aiokafka.readthedocs.io/en/stable"
arq = "https://arq-docs.helpmanual.io"
click = "https://click.palletsprojects.com/en/stable"
cryptography = "https://cryptography.io/en/latest"
gidgethub = "https://gidgethub.readthedocs.io/en/latest"
pyfakefs = "https://pytest-pyfakefs.readthedocs.io/en/latest"
pytest = "https://docs.pytest.org/en/stable"
python = "https://docs.python.org/3.13"
schema_registry = "https://marcosschroh.github.io/python-schema-registry-client"
sentry_sdk = "https://getsentry.github.io/sentry-python"
structlog = "https://www.structlog.org/en/stable"
sqlalchemy = "https://docs.sqlalchemy.org/en/latest"
testcontainers = "https://testcontainers-python.readthedocs.io/en/latest"
vomodels = "https://vo-models.readthedocs.io/latest"

[sphinx.linkcheck]
ignore = [
    # StackOverflow sometimes rejects all link checks from GitHub Actions.
    '^https://stackoverflow.com/questions/',
    '^https://github\.com/lsst-sqre/safir/issues/new',
    '^https://github\.com/lsst-sqre/safir/issues/new',
    # This anchor seems dynamically generated
    '^https://github.com/getsentry/sentry/issues/64354#issuecomment-1927839632',
    # Timing out when checked form GitHub Actions
    '^https://arq-docs.helpmanual.io'
]
